<h1>Tasks</h1>
</br>
</br>

<% @tasks.each do |t| %>
<%= t.name %> - <%= t.description %>

</br>
        <%= link_to "Edit", edit_task_path(t) %>
        <%= link_to "delete", task_path(t), method: :delete, data: { confirm: "You sure?" } %>
</br>----------------------

</br>
<% end%>
