<h1>Jobs</h1>
</br>
</br>

<% @jobs.each do |j| %>
<%= j.name %> 
</br>
<%= j.created_at.strftime("%d-%m-%Y") %>
        <%= link_to "Edit", edit_job_path_url(j) %>
        <%= link_to "delete", job_path(j), method: :delete, data: { confirm: "You sure?" } %>
</br>----------------------


</br>
<% end%>
