<!-- to remove the br and place correctly -->
</br></br></br></br>


<div class="row">
     <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="list-group">

          <a href="<%= bookings_path %>" class="list-group-item list-group-item-action flex-column align-items-start">
            <div id="wrapper" style="text-align: center">
            <i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
            <div class="d-flex w-100 justify-content-between">

              <h1 class="mb-1">Bookings</h1>


            </div>
        </div>
        </a>
      </div>
    </div>
      <div class="col-sm-4 col-lg-4 col-md-4">
         <div class="list-group">
           <a href="<%= customers_path %>" class="list-group-item list-group-item-action flex-column align-items-start">
              <div id="wrapper" style="text-align: center">
             <i class="fa fa-building-o fa-5x" aria-hidden="true"></i>
             <div class="d-flex w-100 justify-content-between">
               <h1 class="mb-1">Customers</h1>

             </div>
</div>
           </a>

         </div>
       </div>

       <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="list-group">
            <a href="<%= locations_path %>" class="list-group-item list-group-item-action flex-column align-items-start">
                <div id="wrapper" style="text-align: center">
                  <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>

              <div class="d-flex w-100 justify-content-between">
                <h1 class="mb-1">Locations</h1>
                </div>
              </div>

            </a>

          </div>
        </div>

       <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div id="wrapper" style="text-align: center">
                  <i class="fa fa-usd fa-5x" aria-hidden="true"></i>

              <div class="d-flex w-100 justify-content-between">
                <h1 class="mb-1">Accounts</h1>
                </div>
              </div>

            </a>

          </div>
        </div>
  </div>
