<h1>Welcome#index</h1>

<p>
  read routes.rb to figure out which is the home route.
</p>

<%# run 'bin/rake routes' to view all routes and then add _path to the end #%> 
<%= link_to "Properties", propertys_path %>
